body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background-color: #f8f8f8;
}

.container {
  max-width: 900px;
  margin: auto;
}

input, button {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); 
  gap: 6px;
  margin-bottom: 20px;
}

.produto {
  background: white;
  padding: 4px; 
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  font-size: 8px; 
}

.produto img {
  max-width: 30px; 
  height: auto;
  margin-bottom: 3px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 9px;
  padding: 3px 5px;
  margin-top: 3px;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}
